.row-slide{
    flex-wrap: nowrap;
    overflow:hidden;
    max-width: 1600px;
    
}
.abc::after,.row-slide::after{
    display: block;
    content: "";
    clear: both;
}
#react-root {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #cccccc;
  }
  
  #app {
    padding: 1rem;
  }
  
  .sample {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }